@model IEnumerable<Horeca.DataBaseLibrary.Models.CustomModels.LocationToStockModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Table of stocks</h5>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:40%;">Name</th>
                        <th style="width:25%">Amount</th>
                        <th style="width:25%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Amount
                            </td>
                            <td>
                                <a class="btn btn-pill btn-primary btnAdd" asp-controller="Stock" asp-action="AddStockAmount" asp-route-id="@item.Id">Add Stock</a>
                                <a class="btn btn-pill btn-primary btnTableWith" asp-controller="Stock" asp-action="WithdrawStockAmount" asp-route-id="@item.Id">Withdraw Stock</a>
                                <a class="btn btn-pill btn-danger" asp-controller="Stock" asp-action="EditStock" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-pill btn-danger" asp-controller="Stock" asp-action="DeleteStock" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-pill btn-primary btnAdd" asp-controller="Stock" asp-action="CreateStock">Add</a>
</div>